/* -------Responsive Settings ----- */

.hide-in-desktop {
  display: none;
}

.hide-in-desktop-only {
  display: none;
}

.show-in-mobile-only {
  display: none;
}

.mobile-nav {
  gap: 10px;
  z-index: 1000;
}
/* ------------------------------------------ */

.primary-button {
  font-family: poppins;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1.25px;
  text-align: center;
}

.nav-body-separator {
  height: 140px;
}

.section-padding {
  padding: 0px;
}

.section-tb-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* ------------------------------------------------ */

.pb-50 {
  padding-bottom: 100px;
}

.pt-50 {
  padding-top: 100px;
}

.flex {
  display: flex;
}

.top-50 {
  margin-top: 50px !important;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.p-10 {
  padding: 10px;
}
.m-10 {
  margin: 10px;
}
.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.showEllipsis {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limit the number of lines to 1 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.showEllipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit the number of lines to 2 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.showEllipsis-3 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit the number of lines to 3 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pink-bg {
  background-color: #fff5de;
}

.blue-bg {
  background-color: var(--blue);
}
.violet-bg {
  background-color: #f2e0f6;
}

.lightblue-bg {
  background-color: #a9cef4;
}

.black-bg {
  background-color: #000000;
}

.white-bg {
  background-color: white;
}

.text-uppercase {
  text-transform: uppercase !important;
}
.text-justify {
  text-align: justify !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-blue {
  color: var(--blue) !important;
}
.text-brown {
  color: var(--brown);
}
.text-black {
  color: var(--black);
}
.text-white {
  color: var(--white);
}

.primary-button {
  font-size: 24px;
}
