/* -------Responsive Settings ----- */

.hide-in-desktop {
  display: none;
}

.hide-in-desktop-only {
  display: none;
}

.show-in-mobile-only {
  display: none;
}

/* ------------------------------------------ */

.text-uppercase {
  text-transform: uppercase !important;
}
.text-justify {
  text-align: justify !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-blue {
  color: var(--blue) !important;
}
.text-brown {
  color: var(--brown);
}
.text-black {
  color: var(--black);
}
.text-white {
  color: var(--white);
}

.primary-button {
  font-size: 24px;
}
